@import url('https://fonts.googleapis.com/css?family=Raleway:700');

html, body, #root, #App {
  font-family: 'Raleway', sans-sans-serif;
  margin: 0;
  padding: 0;
  height: stretch;
}

#App {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.header {
  color: #fff;
  background-color: #282B31;
  margin: 0;
  width: 100%;
}
.header h1 {
  margin: 0.7rem;
}
#map {
  /*width: 100%;*/
  flex-grow: 1;
  padding: 0;
  margin: 9;
}
.burger-place-info {
}
address {
  font-style: normal;
}
.list-view {
  background-color: #282B31;
  color: #fff;
}
.close-list-view,
.close-place-info {
  align: right;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./imgs/iconmonstr-x-mark-4.svg');
  background-position: center;
  background-repeat: no-repeat;
}
/* Default Create-react-app styles
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
