@import url('https://fonts.googleapis.com/css?family=Raleway:700');

html, body, #root, #App {
  font-family: 'Raleway', sans-sans-serif;
  margin: 0;
  padding: 0;
  height: stretch;
}

#App {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.header {
  color: #fff;
  background-color: #282B31;
  margin: 0;
  width: 100%;
}
.header h1 {
  margin: 0.7rem;
}
#map {
  /*width: 100%;*/
  flex-grow: 1;
  padding: 0;
  margin: 9;
}
.list-view {
  background-color: #282B31;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.close-list-view,
.close-place-info,
.hide-filters {
  align: right;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./imgs/iconmonstr-x-mark-4.svg');
  background-position: center;
  background-repeat: no-repeat;
}
ul {
  list-style: none;
  width: 100%;
}
button {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0.1rem;
  background-color: inherit;
  color: inherit;
}
button:hover {
  cursor: pointer;
}
.list-buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.list-view-btn,
.filter-btn {
  margin: 8px auto;
  padding: 5px 10px;
  border: 1px solid #fff;
}
.list-open-view {
  width: 100%;
  display: flex;
}
.list {
  order: 1;
  padding: 1rem;
}
.close-list-view {
  order: 2;
  padding: 0 3rem;
}
.burger-place-info {
  width: 100%;
}
address {
  font-style: normal;
  padding: 0.6rem 1rem 0;
}
p {
  margin: 0.2rem;
}
h3 {
  margin: 0.2rem;
}
.place-address {
  flex-basis: 75%;
}
.info-open {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
.close-place-info {
  order: 2;
}
.place-details {
  order: 1;
  flex-grow: 2;
}
.open-status {
  font-style: italic;
  order: 3;
  padding: 0 1rem;
  color: #5D5E6F;
}
.rating {
  order: 4;
  flex-basis: 100%;
  padding: 0 1rem;
}
.price {
  order: 5;
  padding: 0 1rem;
}
.place-best-img {
  order: 6;
  flex-basis: 100%;
}
/* Default Create-react-app styles
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
