@import url('https://fonts.googleapis.com/css?family=Raleway:700');

html, body, #root, #App {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#App {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
button {
  font-size: 0.8rem;
  font-family: inherit;
  border: 0;
  padding: 0.1rem;
  background-color: inherit;
  color: inherit;
}
button:hover {
  cursor: pointer;
}
ul {
  list-style: none;
  width: 100%;
}
address {
  font-style: normal;
  padding: 0.6rem 1rem 0;
}
p {
  margin: 0.2rem;
}
a {
  font-size: 0.9rem;
}
h3 {
  margin: 0.2rem;
}
select {
  margin: 8px 0 0;
  padding: 5px 10px;
  font: inherit;
  font-size: 0.9rem;
  border: 1px solid #000;
}
select:hover {
  cursor: pointer;
}
:focus {
  outline: 0.3rem solid #3397db;
}

/* Header Styles */
.header {
  color: #fff;
  background-color: #282B31;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
}
.header h1 {
  margin: 0.7rem 0.7rem 0;
  font-size: 1.5rem;
}
.powered-by-foursquare {
  order: 6;
  max-width: 150px;
  padding: 0 0.7rem;
}

/* Map */
#map {
  flex-grow: 1;
  padding: 0;
}

/* Options Stlyes */
.options {
  background-color: #282B31;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.option-buttons {
  background-color: #282B31;
  color: #fff;
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.list-view-btn,
.filter-btn,
.reset-btn {
  margin: 8px auto;
  padding: 5px 10px;
  border: 1px solid #fff;
}

/* List Styles */
.list-view {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid #000;
  margin: 0.5rem auto;
}
.list {
  order: 2;
  padding: 0.5rem 0 0.5rem 3rem;
  border-top: 1px solid #000;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.list-title {
  font-size: 0.9rem;
  flex-basis: 60%;
  flex-grow: 1;
  padding: 0 0 0 0.5rem;
}
.list-item-btn:hover {
  outline: 1px solid #000;
}

/* Buger Place Info Styles */
.burger-place-info {
  width: 98%;
  margin: 5px auto;
  border: 1px solid #282B31;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}
.close-btn-dark {
  align: right;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url('./imgs/iconmonstr-x-mark-7.svg');
  background-position: center;
  background-repeat: no-repeat;
}
.place-address {
  flex-basis: 70%;
}
.info-open {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding: 0 0 0.5rem;
}
.close-container {
  order: 2;
}
.details-container {
  flex-basis: 60%;
  flex-grow: 1;
}
.open-status {
  font-style: italic;
  order: 3;
  padding: 0 1rem;
  color: #5D5E6F;
  flex-basis: 80%;
}
.rating {
  order: 4;
  padding: 0 1rem;
}
.price {
  order: 5;
  padding: 0 1rem;
}
.foursquare-link {
  font-style: italic;
  font-size: 0.7rem;
  padding: 0 1rem;
}
.info-open-img {
  order: 6;
  flex-basis: 100%;
  overflow: hidden;
  max-height: 200px;
  border-top: 1px solid #282B31;
  display: flex;
}
.place-best-img {
  padding: 0.5rem;
  margin: auto;
}

/* Filter Menu Styles */
.filters {
  display: flex;
  flex-wrap: wrap;
  width: 96%;
  border: 1px solid #000;
  margin: 0.5rem auto;
}
.filter-options {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 1rem 0 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 1rem 1rem;
}
.filter-button {
  margin: 8px 8px 0;
  padding: 5px 10px;
  border: 1px solid #000;
}
.open-now-filter {
  display: inline;
}
.remove-open-filter {
  display: inline;
}
.remove-filter-btn {
  display: inline;
  font-style: italic;
  padding: 0 0 0 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

/* Media Queries */
@media screen and (min-width: 650px) and (max-width: 849px) {
  .burger-place-info {
    flex-direction: row;
  }
  .info-open-img {
    border-top: none;
    border-left: 1px solid #000;
    max-height: 170px;
  }
  .list-view {
    width: 60%;
  }
  .filters {
    width: 60%;
  }
}
@media screen and (min-width: 850px) {
  .list-view {
    position: absolute;
    background-color: #fff;
    bottom: 50px;
    left: 50px;
    width: 30%;
  }
  .filters {
    position: absolute;
    background-color: #fff;
    bottom: 50px;
    right: 50px;
    width: 30%;
  }
  .burger-place-info {
    width: 75%;
    flex-direction: row;
  }
  .info-open-img {
    max-height: 200px;
    border-top: none;
    border-left: 1px solid #000;
  }
}
@media screen and (max-height: 380px) {
  .list {
    flex-direction: row;
  }
  .filter-options {
    flex-direction: row;
  }
}
@media screen and (max-height: 450px) {
  .burger-place-info {
    flex-direction: row;
  }
  .info-open-img {
    border-top: none;
    border-left: 1px solid #000;
  }
}
